.content{
    .padding{
        padding-bottom: 15px;
    }
    .title{
        span{
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.4px;
        }
    }







    ion-list{
        ion-item{
            
            ion-thumbnail{
                width: 50px;
                img{
                    max-width: 100%;
                    box-sizing: border-box;
                    border-radius: 10px!important;
                    border: 1px solid rgba(0, 0, 0, 0.12);
                }
            }
            .informations{
                display: flex;
                flex-direction: column;
                .title{
                    font-weight: normal;
                    font-size: 18px;
                    letter-spacing: 0.4px;
                }

                .description{

                    font-weight: 300;
                    font-size: 14px;
                    letter-spacing: 0.4px;
                    color: #C88EEB;

                }

            }
            
        }
    }
    
    ion-searchbar{
        --background: #070B2C;
        --border-radius: 10px;
        --color: #B8B8B8;	
        --icon-color: #B8B8B8;
        --placeholder-color: #B8B8B8;
        --placeholder-font-weight: normal;
    }
    
    
    ion-grid{
        ion-row{
            ion-col{
            --ion-grid-column-padding: 0;

                .more{
                    display: flex;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 28px;

                    letter-spacing: 0.4px;

                    color: #818181;
            
                }
                
            }
        
        }
    
    }


   
    
    .card-genrer{
       
    
        .grid{
    
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 12vh 12vh;
            grid-gap: 17px;
           
    
    
    
            .grid-item{
                background: #070B2C;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;

                .title{
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 28px;
                    letter-spacing: 0.4px;
                    color: #5F0099;
                }
            }
        }
    }
}