
 <div #header>
    <app-header (headerRef)="getHeader($event)" search='true' settings='true'></app-header>
</div>
<ion-content  [scrollEvents]="true" (ionScroll)="onScroll($event)">
   
    <div class="content ion-padding">

        <div class="title">
            <span>Genêro</span>
            <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
        <ion-slides [options]="options" class="ion-padding genrer">
            <ion-slide *ngFor="let img of images">
                <ion-img src="{{ img.picture_medium }}"></ion-img>
                <span>{{ img.name }}</span>
            </ion-slide>
        </ion-slides>
        <div>

        </div>



        <div class="title">
            <span>Musicas</span>
            <ion-icon name="chevron-forward-outline"></ion-icon>

        </div>
        <ion-slides [options]="options2" class="ion-padding slideDefault">
            <ion-slide *ngFor="let img of images">
                <ion-img src="{{ img.picture_big }}"></ion-img>
                <span>{{ img.name }}</span>
            </ion-slide>
        </ion-slides>




        <div class="title">
            <span>Playlists</span>
            <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
        <ion-slides [options]="options2" class="ion-padding slideDefault">
            <ion-slide *ngFor="let img of images">
                <ion-img src="{{ img.picture_big }}"></ion-img>
                <span>{{ img.name }}</span>
            </ion-slide>
        </ion-slides>

        <div class="title">
            <span>Playlists</span>
            <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
        <ion-slides [options]="options2" class="ion-padding slideDefault">
            <ion-slide *ngFor="let img of images">
                <ion-img src="{{ img.picture_big }}"></ion-img>
                <span>{{ img.name }}</span>
            </ion-slide>
        </ion-slides>
        <div class="title">
            <span>Playlists</span>
            <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
        <ion-slides [options]="options2" class="ion-padding slideDefault">
            <ion-slide *ngFor="let img of images">
                <ion-img src="{{ img.picture_big }}"></ion-img>
                <span>{{ img.name }}</span>
            </ion-slide>
        </ion-slides>
        <div class="title">
            <span>Playlists</span>
            <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
        <ion-slides [options]="options2" class="ion-padding slideDefault">
            <ion-slide *ngFor="let img of images">
                <ion-img src="{{ img.picture_big }}"></ion-img>
                <span>{{ img.name }}</span>
            </ion-slide>
        </ion-slides>

    </div>



</ion-content>