.content{
  .title{
    display: flex;
    align-items: center;
    span{
      font-size: 22px;
      font-weight: 500;
      line-height: 40px;
      letter-spacing: 0.4px;
      
    }
  }
  
    
  .genrer{
    ion-slide{
      
      display: inline-block;
        span{
        font-size: 14px;
        font-weight: 100;
        line-height: 20px;
        letter-spacing: 0.4px;
        }
      ion-img::part(image){
        border-radius: 10% !important
      }
  
    }
  }
  
  
  .slideDefault{
    ion-slide{
      display: inline-block;
      
      .titleAlbum{
        span{
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 0.4px;
        }
      }
      .descriptionArtist{
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.4px;
        color: gray;
      }
      
      ion-img::part(image){
        max-width: 100%;
        border-radius: 10% !important
      }
  
    }
  }
  
 
  
}