<app-header settings='true'></app-header>

<ion-content>

    <div class="content ion-padding">
        <div class="title padding">
            <span>Favoritos</span>
        </div>
        <ion-list>
            <ion-item button *ngFor="let a of array" routerDirection="forward" lines="none" [routerLink]="['/artists']">
                <ion-label>
                   {{ a}}
                </ion-label>
                <ion-badge>99</ion-badge>
            </ion-item>
            
        </ion-list>



    </div>


</ion-content>
