.content{
    .padding{
        padding-bottom: 15px;
    }
    .title{
        span{
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.4px;
        }
    }
    ion-list{
        
        ion-item{
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0.4px;
            ion-badge{
                background:none;
                
                font-style: normal;
                font-weight: 300;
                font-size: 15px;
                line-height: 28px;
                letter-spacing: 0.4px;
                color: #C88EEB;
            }
        }
    }
}