<app-header search='true' settings='true'></app-header>

<ion-content>

    <div class="content ion-padding">
        <div class="title padding">
            <span>Favoritos</span>
        </div>
        <ion-list>
            <ion-item button  lines="none">
                <ion-label>
                    Melhores Musicas
                </ion-label>
                <ion-badge>99</ion-badge>
            </ion-item>
            <ion-item button  lines="none">
                <ion-label>
                    Melhores Musicas
                </ion-label>
                <ion-badge>99</ion-badge>
            </ion-item><ion-item button  lines="none">
                <ion-label>
                    Melhores Musicas
                </ion-label>
                <ion-badge>99</ion-badge>
            </ion-item><ion-item button  lines="none">
                <ion-label>
                    Melhores Musicas
                </ion-label>
                <ion-badge>99</ion-badge>
            </ion-item><ion-item button  lines="none">
                <ion-label>
                    Melhores Musicas
                </ion-label>
                <ion-badge>99</ion-badge>
            </ion-item>
        </ion-list>



    </div>


</ion-content>
