ion-tabs{
    ion-tab-bar{
        ion-tab-button{
            --color: #C88EEB;
            --color-selected: #5F0099;
            --color-focused: #5F0099;
                
            ion-label{
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 20px;
                letter-spacing: 0.4px;
                
            }
            
        }
    }
}