<ion-app>
  <ion-router-outlet [ngStyle]="{'opacity': !playMusic ? '0' : '1'}"></ion-router-outlet>


  <ion-tabs [ngStyle]="{'opacity': playMusic ? '0' : '1'}">
    
    <div class="content" [ngStyle]="{'display': playMusic ? 'none' : ''}" *ngIf="isReady" slot="bottom">
    
      
      <div class="playMusic" >
        <ion-item lines="none" color="none" >
          <ion-button color="none" (click)="play()"  *ngIf="!isPlaying" [disabled]="!isReady">
            <ion-icon name="play" ></ion-icon>
          </ion-button>  
          <ion-button color="none" (click)="pause()"  *ngIf="isPlaying" [disabled]="!isReady">
            <ion-icon name="pause"></ion-icon>
            </ion-button>  
         
            <ion-label (click)="teste()">
           
              {{ nameTrack }}
            </ion-label>
            <ion-icon name="heart-outline"></ion-icon>
            <ion-icon name="play-skip-forward"></ion-icon>
        </ion-item>
      </div>
  </div>
    
    <ion-tab-bar slot="bottom">
      
      <ion-tab-button routerDirection="root" tab="musics">
        <ion-icon name="musical-notes"></ion-icon>
        <ion-label>Musica</ion-label>

      </ion-tab-button>

      <ion-tab-button routerDirection="root" tab="navigation">
        <ion-icon name="compass"></ion-icon>
        <ion-label>Navegação</ion-label>
      </ion-tab-button>

      <ion-tab-button routerDirection="root" tab="favorites">
        <ion-icon name="heart"></ion-icon>
        <ion-label>Favoritos</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <play-music [ngStyle]="{'position': playMusic ? '' : 'absolute'}" (isReady)="getStatusPlaying($event)" (nameTrack)="getNameTrack($event)" (isPlaying)="getStatusTrack($event)"></play-music>

</ion-app>


  