play-music{
    height: 100%;
}
.content{
    
    display: flex;
    position: absolute;
    top: 537px;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    z-index: 3;

    
    .playMusic{
            
            background: rgb(128 0 128 / 96%);
            

        
    }
}
ion-tabs{
    
    ion-tab-bar{
        ion-tab-button{
            --color: #C88EEB;
            --color-selected: #5F0099;
            --color-focused: #5F0099;
                
            ion-label{
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 20px;
                letter-spacing: 0.4px;
                
            }
            
        }
    }
}