<ion-header class="ion-no-border" >


  <ion-toolbar [ngClass]="{'toolbar-secondary': toolbarSecondary}">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-button *ngIf="searchActivate">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>


    </ion-buttons>

    <div class="header-toolbar">
      <img class="header-img" src="../../assets/images/svg/logo.svg">
    </div>

    <ion-buttons slot="end">
      <ion-button *ngIf="settingsActivate">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>


</ion-header>