ion-header{

    ion-toolbar{
        ion-grid{
            ion-row{
                display: flex;
                    align-items: center;
            }
        }
    }
    .toolbar-secondary{
        --background: #070B2C;

    }

    .header-toolbar{
        display: flex;
        justify-content: center;
    }
    .header-img{
        max-width: 100%;
    }
   

}
