ion-header{
    .toolbar-secondary{
        --background: #070B2C;

    }

    .header-toolbar{
        display: flex;
        justify-content: center;
    }
    .header-img{
        max-width: 100%;
    }
   

}
