<ion-header class="ion-no-border" >


  <ion-toolbar [ngClass]="{'toolbar-secondary': toolbarSecondary}">
    <ion-grid class="ion-no-padding"> 
      <ion-row >
        <ion-col size="4" class="ion-no-padding">
          <ion-buttons class="ion-justify-content-start ">
            <ng-content></ng-content>
            <ion-button *ngIf="searchActivate">
              <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>

        <ion-col size="4">
          <div class="header-toolbar">
            <img class="header-img" src="../../assets/images/svg/logo.svg">
          </div>
        </ion-col>
        <ion-col size="4" class=" ion-no-padding">
          <ion-buttons class="ion-justify-content-end ">
            <ion-button *ngIf="settingsActivate">
              <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
    

    

    

  </ion-toolbar>


</ion-header>