
<ion-content>
  <app-header settings='true' toolbarSecondary='true'>
    <ion-back-button defaultHref="favorites"></ion-back-button>
  </app-header>


  <div class="content ion-padding">

    <div class="header" *ngIf="artist">
      <div class="header-img">
        <ion-avatar>
          <img
            src="{{artist.picture_big}}">
        </ion-avatar>
      </div>
      <div class="title">
        <span>{{artist.name}}</span>
      </div>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="3" class="align-start">
          <div class="buttonShare">
            <ion-icon name="share-social-outline"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="6">
          <ion-button class="buttonPlay">TOCAR</ion-button>
        </ion-col>
        <ion-col size="3" class="align-end">
          <div class="buttonHeart">
            <ion-icon name="heart-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <div class="content-body ion-padding">

    <ion-grid *ngIf="track">
      <ion-row>
        <ion-col size="8">
          <div class="title ion-align-itens-center">
            <span>Melhores Musicas</span>
          </div>
        </ion-col>
        <ion-col size="4">
          <a class="more ion-align-itens-center ion-justify-content-end">Ver mais...</a>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list *ngIf="track">
      <ion-item lines="none" class="ion-no-padding" *ngFor="let t of track">
        <ion-thumbnail slot="start">
          <img src="{{ t.album.cover_medium }}">
        </ion-thumbnail>
        <div class="informations">
          <span class="title">{{t.title}}</span>
          <!-- <span class="description">Music subtitle</span> -->
        </div>
        <ion-buttons slot="end" class="ion-no-padding">
          <ion-button color="none" class="ion-no-padding">
            <ion-icon class="heart-outline" name="heart-outline"></ion-icon>
            <ion-icon class="heart-filled" name="heart"></ion-icon>
          </ion-button>
          <ion-button color="none" class="ion-no-padding">
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>

    <div class="title ion-margin-top">
      <ion-router-link [routerLink]="['playlists']">
        <span>Playlists</span>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-router-link>

    </div>
    <ion-slides [options]="options" class="ion-padding slideDefault">
      <ion-slide *ngFor="let img of images">
        <ion-img src="{{ img.imageUrl }}"></ion-img>
        <span>{{ img.imageName }}</span>
      </ion-slide>
    </ion-slides>

    <div class="title ion-margin-top">
      <ion-router-link routerDirection="forward" routerLink="album">
        <span>Albuns</span>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-router-link>

    </div>
    <ion-slides [options]="options" class="ion-padding slideDefault">
      <ion-slide *ngFor="let img of images">
        <ion-img src="{{ img.imageUrl }}"></ion-img>
        <span>{{ img.imageName }}</span>
      </ion-slide>
    </ion-slides>

  </div>

</ion-content>